In [39]:
import pandas as pd
import requests
from bs4 import BeautifulSoup

In [40]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"
response = requests.get(url)
response.status_code

200

In [41]:
soup = BeautifulSoup(response.text, "html.parser")
table = soup.find("table", attrs={"class": "wikitable sortable"})
table_body = table.find("tbody")

list_theads = [th.text.strip() for th in table_body.find_all("th")]

all_cols = []
for row in table_body.find_all("tr")[1:]:
    cols = row.find_all("td")
    cols = [ele.text.strip() for ele in cols]
    all_cols.append(cols)


df = pd.DataFrame(all_cols, columns=list_theads)
df = df.set_index("Rank")
df

,Name,Industry,Revenue (USD millions),Revenue growth,Employees,Headquarters
Rank,,,,,,
1,Walmart,Retail,"611,289",6.7%,"2,100,000","Bentonville, Arkansas"
2,Amazon,Retail and cloud computing,"513,983",9.4%,"1,540,000","Seattle, Washington"
3,ExxonMobil,Petroleum industry,"413,680",44.8%,"62,000","Spring, Texas"
4,Apple,Electronics industry,"394,328",7.8%,"164,000","Cupertino, California"
5,UnitedHealth Group,Healthcare,"324,162",12.7%,"400,000","Minnetonka, Minnesota"
...,...,...,...,...,...,...
96,Best Buy,Retail,"46,298",10.6%,"71,100","Richfield, Minnesota"
97,Bristol-Myers Squibb,Pharmaceutical industry,"46,159",0.5%,"34,300","New York City, New York"
98,United Airlines,Airline,"44,955",82.5%,"92,795","Chicago, Illinois"
99,Thermo Fisher Scientific,Laboratory instruments,"44,915",14.5%,"130,000","Waltham, Massachusetts"
100,Qualcomm,Technology,"44,200",31.7%,"51,000","San Diego, California"

In [42]:
df.to_csv("companies.csv")